# Ambiente virtual
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Build / executáveis
build/
dist/
*.spec
*.exe

# Logs
*.log

# VSCode
.vscode/

# PyInstaller
*.manifest

# Installer (ocultar do git)
installer/
installer.iss

# Sistema
.DS_Store
Thumbs.db